[logging]

level = "info"


[simulation]

random_seed = 42
t_exp = 39.0
nstars = 25_000
magrange = [8.0, 22.0]
zeropoint = 25.0
skylevel = 2
poisson_noise = true

[simulation.catalog]

action = "create"
dbname = ""
fraction = 0.0


[simulation.psf]
fwhm = 4.0
fwhm_std = 0.2
beta = 3.5


[simulation.ccd]

# Full chip size.
shape = [2144, 4200]
pixelsize = 0.2
ron = 5.0

[simulation.mosaic]

layout = [8, 4]
gaps = [30, 40]


[simulation.sky]

ra = 123.0
dec = 0.45


[simulation.polarisation]

angles = [0, 60, 120]
nstars = 50
magrange = [15, 20]
qrange = [0.05, 0.3]
urange = [0.05, 0.3]

[simulation.shifts]
x_120 = 0.2
y_120 = 0.0

[simulation.region]
regfile = "ds9-omegacam.reg"
